<nav class="navbar">
    <!-- <img src="tu_logo.png" alt="Logo de la empresa" class="logo"> -->
    <a href="/" class="navbar__logo">Logo</a>
    <div class="navbar__wrappButtons">
        <a href="/servicios" class="navbar__button">Recetas</a>
        @if(authService.isLogged()){
            <a  href="/createReceta" class="navbar__button">Crear Receta</a>
            <a  (click)="onClickLogout()" (keydown.enter)="onClickLogout()" class="navbar__button" tabindex="0" role="button">Logout</a>
        } @else {
            <a   href="/auth" class="navbar__button">Login</a>
        }
        
    </div>
</nav>