.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    border-radius: .5em;
  }

  
  .auth__box {
    width: 18em;
    padding: 1.25em;
    background-color: var(--bamboo-200);
    color: var(--bamboo-600);
    border: .1em solid var(--bamboo-600);
    border-radius: 5px;
  }
  
  .auth__label {
    display: block;
    margin-bottom: 5px;
  }
  
  .auth__input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--bamboo-600);
    border-radius: 3px;
    transition: border-color 0.3s; /* Agregamos una transición para suavizar el cambio de color */
  }
  
  .auth__input:focus {
    border-color: var(--bamboo-800); /* Color celeste al estar activo */
  }
  
  .auth__button {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 4em;
    cursor: pointer;
    border-radius: .5em;

    background-color: var(--carmine-500);
    font-family: var(--tipo-secundario);
    color: var(--bamboo-100);
    font-weight: 800;;
  }